{% extends 'base.html' %}

{% block content %}
  <h1>Users List</h1>

  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        {% if user.is_superuser %}
            <td>Admin</td>
        {% elif user.is_staff %}
            <td>Staff</td>
        {% else %}
            <td>User</td>
        {% endif %}
        <td>
          {% if is_admin %}
            <a class="href-btn" href="{% url 'set_user_role' user_id=user.id %}">Change user info</a>
          {% endif %}
          <a class="href-btn" href="{% url 'user_detail' user_id=user.id %}">View Detail</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
