{% extends 'base.html' %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  {% if cart %}
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      {% for item in cart %}
        <tr>
          <td><img style="width: 120px;" src="{{ item.product.image.url }}" alt="we lost {{ item.product.name }}`s picture 😭😭😭">{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.product.price }}</td>
          <td>
            <div class="delete-total">
              ${{ item.product.price|multiply_price_quantity:item.quantity }}
              <form method="POST" action="{% url 'delete_cart_item' item_id=item.id %}">
                {% csrf_token %}
                <button type="submit" style="background-color:#A52A2A;">🗑️</button>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
      <tr>
        <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
        <td>${{ total }}</td>
      </tr>
    </table>

    <form method="POST" action="{% url 'checkout' %}">
      {% csrf_token %}
      <button type="submit">Checkout</button>
    </form>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}
{% endblock %}
