{% extends 'base.html' %}

{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <div class="main-page">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <ul>
      {% regroup products by category as categories %}
        {% for category in categories %}
          <h2>{{ category.grouper }}</h2>
          <ul>
            {% for product in category.list %}
              <li>
                <form method="POST" action="{% url 'add_to_cart' product_id=product.id %}">
                  {% csrf_token %}
                  <label for="quantity">{{ product.name }} - ${{ product.price }}</label>
                  <input type="number" name="quantity" value="1" min="1">
                  {% if user_id %}
                    <button type="submit" style="cursor: pointer;">Add to cart</button>
                  {% else %}
                    <button class="disabled-btn">Add to cart</button>
                  {% endif %}
                </form>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
    </ul>
  </div>
{% endblock %}
