{% extends 'base.html' %}

{% block content %}
  <h1>User Detail</h1>

  <table>
    <tr>
      <th>Username</th>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Role</th>
      <td>{{ user.role }}</td>
    </tr>
  </table>

  <table>
   <tr>
      <th>Order</th>
      <th>Products</th>
      <th>Total</th>
    </tr>
    {% for order in orders %}
      <tr>
          {% for info in order %}
            <td>{{ info }}</td>
          {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
